a, a:hover, a:active, a:focus {
	color: #ebebeb;
	text-decoration: none;

}

html {
	overflow-x: hidden;
}

/* -------------------- */

nav {
	height: 64px;
		line-height: 64px;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	display: block;
	font-size: 17px;

	color: #ebebeb;
		background-color: #4e5d6c;
}

nav .my-navbar {
	padding: 0 30px;
}

nav .my-navbar .my-brand {
	float: left;
}

nav .my-navbar .my-back-button {
	float: right;
	font-size: 24px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

nav .my-navbar .my-back-button:hover {
}


/* -------------------- */


.table {
	display: table;
	width: 100%;
	padding: 0 0 20px;
}
.row {
	display: table-row;

}
.cell {
	display: table-cell;
	padding: 10px 10px 10px 0;
}

.cell:last-child {
	display: table-cell;
	padding: 10px 0;
}



/* -------------------- */